@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?8709775ce5665f1037838f03ada6bf7b") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?12264b3b3df30f50a83d74a3209e57f7") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
